############################################
# Build folders
############################################
bin/
obj/
artifacts/

############################################
# .NET
############################################
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.pdb
*.mdb
*.opendb
*.VC.db
*.aps
*.dll
*.exe

############################################
# Visual Studio
############################################
.vs/
.vscode/
.idea/

############################################
# Rider
############################################
.idea/
*.sln.iml

############################################
# MAUI / Xamarin
############################################
*.apk
*.aab
*.ap_
*.ipa
*.app
*.msix
*.msixbundle

############################################
# iOS
############################################
*.dSYM/
*.dSYM.zip
*.mobileprovision
DerivedData/

############################################
# Android
############################################
*.keystore
*.jks
local.properties

############################################
# MacCatalyst
############################################
*.pkg

############################################
# Windows
############################################
*.appx
*.appxbundle
*.appxupload

############################################
# Logs
############################################
*.log

############################################
# OS files
############################################
.DS_Store
Thumbs.db

############################################
# Test Results
############################################
TestResults/
coverage/
*.coverage
*.coveragexml